<div class="container" *ngIf="product">
  <img [src]="product.image" [alt]="product.title" />
  <div class="details-container">
    <h2>{{ product.title }}</h2>
    <p>{{ product.description }}</p>
    <p>
      Rating:
      <span>
        <i
          class="fa-solid fa-star"
          style="color: #dce01a"
          *ngFor="let rating of ratingArray"
        ></i>
      </span>
      ({{ product.rating.count }})
    </p>
    <div>
      Quantity <button (click)="updateQuantity('-')">-</button> {{ amount }}
      <button (click)="updateQuantity('+')">+</button>
    </div>
    <!-- <div>{{ product.price * amount | currency }}</div> -->
    <div>{{ product.price * amount | currency }}</div>
    <div style="margin-top: 15px">
      <button (click)="addProductToCart()">Add To Cart</button>
    </div>
  </div>
</div>
