<div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <i class="fa-solid fa-user"></i><label for="email"> Username</label>
      <div>
        <input type="text" id="username" formControlName="username" />
      </div>
    </div>
    <div>
      <i class="fa-solid fa-lock"></i><label for="password"> Password</label>
      <div>
        <input type="password" id="password" formControlName="password" />
      </div>
    </div>
    <div style="margin-top: 15px">
      <button type="submit" [disabled]="!loginForm.valid">Login</button>
    </div>
  </form>
</div>
