<div class="cart-item-container">
  <div class="cart-item-card">
    <div class="cart-item-img">
      <img class="item-img" [src]="cartItem.image" [alt]="cartItem.title" />
    </div>
    <div class="cart-item-title">
      <span>{{ cartItem.title }}</span>
      <span>{{ cartItem.price | currency }} × {{ cartItem.qty }}</span>
    </div>
    <div class="cart-item-price">
      <div>{{ cartItem.totalPrice | currency }}</div>
    </div>
  </div>
  <div class="remove-btn-container">
    <button (click)="removeFromCart()">X</button>
  </div>
</div>
