<div class="container">
  <img src="{{ product.image }}" alt="" />
  <div>
    <p>{{ product.title }}</p>
    <p>{{ product.description }}</p>
    <p>Rating: {{ product.rating.rate }}/5</p>
    <p>Ratings: {{ product.rating.count }}</p>
    <div>Quantity <button (click)="updateQuantity('-')">-</button> {{ amount }} <button (click)="updateQuantity('+')">+</button></div>
    <div style="margin-top: 15px;">
      <button (click)="addProductToCart(product.id)">Add To Cart</button>
    </div>
  </div>
</div>
